/* Resetando alguns estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do site */
body {
    font-family: Verdana, sans-serif;
    background-color: #d3d3d3; /* Cor de fundo cinza claro */
    color: #333;
}

/* Menu Fixo */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: background-color 0.3s ease;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #d3d3d3; /* Cor de fundo quando o mouse passa */
    color: #000;
}

/* Estilo para as seções */
section {
    margin-top: 40px; /* Para evitar que o conteúdo fique embaixo do menu fixo */
    padding: 20px;
}

/* Rodapé */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .footer-content {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

footer .footer-content img {
    width: 80px;
    height: auto;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    footer .footer-content {
        flex-direction: column;
        align-items: center;
    }

    footer .footer-content img {
        width: 60px;
        margin-bottom: 10px;
    }

    /* Ajuste no layout da home */
    .custom-section {
        flex-direction: column; /* Ajusta a direção da coluna para telas pequenas */
        align-items: center;
    }

    .video-placeholder {
        width: 100%;
        height: auto;
        max-width: 100%; /* Garante que o vídeo ocupe toda a largura disponível */
    }

    /* Ajuste no layout da página Sobre */
    .sobre-franco-gagnor {
        flex-direction: column; /* Para garantir que o conteúdo se ajuste bem em telas pequenas */
        align-items: center;
    }

    /* Ajustes no formulário de contato */
    .contato-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .form-contato,
    .imagem-contato {
        width: 100%;
        box-sizing: border-box;
    }

    /* Ajustes nos inputs do formulário */
    .form-contato input,
    .form-contato textarea {
        width: 100%;
        padding: 12px; /* Aumenta o tamanho do padding */
    }
}
